header {
    background:lightsalmon;
}
#global_proof{
    position:absolute;
    bottom:0;
    right:0;
}
#list_href{
  background-color: black;padding: 0px 5px 0px 4px;border: 1px solid #555; display:block;
}
#tabs {
    list-style:none;vertical-align: bottom; align-content: right;
}
#text_block {
    padding:5px 10px 5px 10px; background-color:rgb(211, 211, 211);
}
#subtitle {
    background-color: white;border:3px;border-color: black;
}
.footer {
    overflow:hidden ;
    position:relative;
    bottom:8px;
}