@media screen and (min-width: 480px)
{
    @viewport{
        width:100vw;
    }
    body{
        background-color: lightsalmon;
    }
    #list_href{
        background-color: black;
        padding: 0px 5px 0px 4px;
        border: 1px solid #555;
        max-width: 10vw;
        display:block;
        white-space: nowrap;
      }
              footer{
            display: none
            }
}       
@media screen and (min-width: 660px)
    {
    @viewport{
        width:100vw;
        }
        body{
            background-color: salmon;
        }
        footer{
            display: flex;
        }
        #list_href{
            background-color: black;
            padding: 0px 5px 0px 4px;
            border: 1px solid #555;
            display:block;
          }
    }
@media screen and (min-width: 740px)
    {
    @viewport{
        width:100vw;
        }
        body{
            background-color: white;
        }
        footer{
            font-size: 1.2em;
            display: inline-flex;
        }
        #list_href{
            background-color: black;
            padding: 0px 5px 0px 4px;
            border: 1px solid #555;
            display:block;
          }
    }  
header {
    background:lightsalmon;
}
#global_proof{
    position:absolute;
    bottom:0;
    right:0;
}

.footer {
    overflow:hidden ;
    position:relative;
    bottom:8px
}
.media {
    border-radius: 7%;
    padding:5px 5px 0px 10px;
}
#tabs {
    list-style:none;vertical-align: bottom; align-content: right;
}
