header {
    background:lightsalmon;
}
#global_proof{
    position:absolute;
    bottom:0;
    right:0;
}
#list_href{
  background-color: black;padding: 0px 5px 0px 4px;border: 1px solid #555; display:block;
}
.footer {
    overflow:hidden ;
    position:relative;
    bottom:8px
}
.media {
    border-radius: 7%;
    padding:5px 5px 0px 10px;
}
#tabs {
    list-style:none;vertical-align: bottom; align-content: right;
}
#scorecardIMG{
    display:none;
}